.bgimage{

    background-image: url(./unspa.jpg);
    width: 100%;
    height: 700px;
}

.banner-quntnex{

    margin-left: 20px;
}

.flex-container{

    display: flex;
    

}

figure{

    padding-left: 20px;

}

a{

    color: #ffffff;
}

.contents{

    margin-left: 550px;
    margin-top: 150px;
}

.section-2{

    
    width: 100%;
    height: 300px;
    margin-left: 200px;
    margin-top: 30px;
    display: flex;
}


body{

    overflow-x: hidden;
    padding: 0;
    margin: 0;
}


button{

    border-radius: 5px;
    background-color: rgb(92, 132, 226);
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
}

.form2{
    
    
    margin-left: 555px;
    padding-top: 150px;
}

.login{

    margin-top: 150px;
    background-color: rgb(33, 151, 248);
    width: 25%;
    margin-left: 550px;
    border-radius: 15px;

}

input{

    border-radius: 10px;
    border: 1px solid rgb(193, 190, 190);
}

.contents-3{

    margin-left: 80px;


}

.anime{

    margin-left: 500px;
}

.footer{

    background-color: #3f4040;
    width: 100%;
    height: 200px;
    padding-top: 6%;
}


.bgimage2{

    background-image: url(./bgimage2.jpg);
    width: 100%;
    height: 695px;
}


.btn-reg{

    margin-left: 50px;
    width: 15%;
    border-radius: 10px;
    height: 40px;
}